# Virtual environments
.venv/
venv/
env/
bin/
lib/

# Python
**/__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Ignoring secrets
.env
.env.*
!.env.example
sessions/
raw_sessions/
*.session
*.session-journal
proxies.txt
.local-storage/
dist/
node_modules/

# Git
.git/
.gitignore

# Docs and other data
avatars/
*.db
README.md
.dockerignore

# Backup directory
backups/