# Virtual environments
.venv/
venv/
env/
bin/
lib/

# Python
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Ignoring secrets
.env
*.session
*.session-journal

# Channels list
channels.txt

# Other data
avatars/
*.db