# Virtual environments
.venv/
venv/
env/
bin/
lib/

# Python
**/__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Ignoring secrets
.env
.env.*
!.env.example
sessions/
raw_sessions/
*.session
*.session-journal
proxies.txt
.local-storage/
dist/
node_modules/

# TXT docs with data
channels.txt

# Other data
avatars/
*.db

# Backup directory
backups/

# Certbot
certbot/